!!!
%html
%head
	%title Elfdev
	= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= csrf_meta_tags
%body
	.container.fixed
		%ul.menu
			%li
				= link_to '<div class="fa fa-home fa-lg"></div>'.html_safe, '/', title:"Contact us"
			%li
				= link_to '<div class="fa fa-phone-square fa-lg"></div>'.html_safe, '#', title:"Contact us"
	.container-fluid.full-height
		= yield
		%footer
			Elfdev 2014