!!!
%html
%head
	%title Elfdev
	= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= csrf_meta_tags
%body
	.notice.fixed.text-center
		= notice
	.container.fixed
		%ul.menu
			%li
				= link_to '<div id="home" class="fa fa-home fa-lg transparent"></div>'.html_safe, root_path, title:"Contact us"
			%li
				= link_to '<div id="contact" class="fa fa-phone-square fa-lg transparent"></div>'.html_safe, contact_path, title:"Contact us"
	= yield
	%footer.row
		.col-md-12
			Elfdev 2014